<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">
<head>
    <title>Admin Home</title>
</head>
<body>
<div layout:fragment="content">
    <p>Logged in as Administrator(<span sec:authentication="principal.username">Admin</span>)</p>

    <div class="container my-2">
        <div class="card">
            <div class="card-body">
                <p></p>
               hello
                    </div>
                </div>
                </tr>

            </div>
        </div>
    </div>
</div>

</body>

</html>